@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'SourceHanSerifCN-Bold';
  src: url(/SourceHanSerifCN-Bold.ttf) format('truetype');
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

html,
body {
  @apply h-screen;
  text-size-adjust: 100% !important;
  --develop-start-gradient: oklch(59.59% 0.24 255.09156059071347);
  --develop-end-gradient: oklch(81.58% 0.189 190.74037768509325);
  --develop-line-end: oklch(65.84% 0.203 242.5318349103755);
  --develop-text: oklch(57.49% 0.249 257.84);
  --preview-start-gradient: oklch(49.07% 0.272 300.45);
  --preview-end-gradient: oklch(64.53% 0.292 2.47);
  --preview-line-end: oklch(51.39% 0.267 318.36);
  --preview-text: oklch(59.93% 0.274 352.55);
  --ship-start-gradient: oklch(67.3% 0.266 25.039656026515278);
  --ship-end-gradient: oklch(85.82% 0.201 91.19);
  --ship-line-end: oklch(85.82% 0.201 91.19);
  --ship-text: oklch(68.79% 0.25 27.76);
}

html.wechat body {
  background-color: #ededed;
}

.shine-text {
  background: linear-gradient(
    to right,
    /* #ff6b6b,
    #ffa06a,
    #f3ff6d,
    #72ff6a,
    #72ffcc,
    #72cfff,
    #b072ff,
    #ff72f2 */
      var(--develop-text),
    var(--develop-start-gradient),
    var(--develop-line-end),
    var(--develop-end-gradient),
    var(--preview-text),
    var(--preview-start-gradient),
    var(--preview-line-end),
    var(--preview-end-gradient),
    var(--ship-text),
    var(--ship-start-gradient),
    var(--ship-line-end),
    var(--ship-end-gradient)
  );
  background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 300% auto;
  animation: textShine 2s ease-in-out infinite alternate;
}

@keyframes textShine {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}

#app {
  @apply h-screen;
}
